:root {
    --color-primary: #1A1A1B;
    --color-orange: #FF4800;
    --color-blue: #3B78EB;
    --color-secondary: #D7D7D7;
    --color-border: #d9d9d9;
    --color-secondary-transparent: #d7d7d71d;

    --font-wanted: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

::selection {
    background: var(--color-primary);
    color: #fff;
    mix-blend-mode: difference;
}

body {
    margin: 0;

    width: 100%;

    font-family: var(--font-wanted);
    font-weight: 400;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}